@model IEnumerable<ShopTARge24.Models.Kindergarten.KindergartenIndexViewModel>


<div>
	<a asp-action="create" asp-controller="Kindergarten" type="submit" class="btn btn primary">Create</a>
</div>

<div class="h1">
	Kindergarten
</div>
<form method="get">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nr</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Built Date</th>
                <th scope="col">Crew</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var kindergarten in Model)
            {
                <tr>
                    <td>@kindergarten.Id</td>
                    <td>@kindergarten.KindergartenName</td>
                    <td>@kindergarten.GroupName</td>
                    <td>@kindergarten.TeacherName</td>
                    <td>@kindergarten.ChildrenCount</td>
                    <td>@kindergarten.CreatedAt</td>
                    <td>@kindergarten.UpdatedAt</td>
                </tr>
            }
        </tbody>
    </table>
</form>